@font-face {
    font-family: "Bagnard";
    src: url("../../../systems/atd6/style/fonts/Bagnard.otf");
}

@font-face {
    font-family: "atd6";
    src: url("../../../systems/atd6/style/fonts/QUENCRG_.TTF");
}

@font-face {
    font-family: "athelas";
    src: url("../../../systems/atd6/style/fonts/Athelas.ttf");
}

@font-face {
    font-family: "dccash";
    src: url("../../../systems/atd6/style/fonts/DccAsh.otf");
}

@font-face {
    font-family: "ghoulish";
    src: url("../../../systems/atd6/style/fonts/Ghoulish.ttf");
}

@font-face {
    font-family: "helsing";
    src: url("../../../systems/atd6/style/fonts/Helsing.otf");
}

@font-face {
    font-family: "imfell";
    src: url("../../../systems/atd6/style/fonts/IMFell.ttf");
}

@font-face {
    font-family: "kirsty";
    src: url("../../../systems/atd6/style/fonts/kirsty.ttf");
}

@font-face {
    font-family: "locust";
    src: url("../../../systems/atd6/style/fonts/LocustResistance.ttf");
}

@font-face {
    font-family: "luckiest";
    src: url("../../../systems/atd6/style/fonts/LuckiestGuy.ttf");
}

@font-face {
    font-family: "parentssuck";
    src: url("../../../systems/atd6/style/fonts/parentssuck.ttf");
}

@font-face {
    font-family: "stencil";
    src: url("../../../systems/atd6/style/fonts/stencilstd.otf");
}

@font-face {
    font-family: "vanhelsing";
    src: url("../../../systems/atd6/style/fonts/VanHelsing.ttf");
}

.charsheet {
    display: flex;
    width: 100%;
  }

.top-section {
    width: 100%;
}

.char-pic img{
    width: 150px;
    height: 150px;
    background-color: var(--input-bg-color);
    border-radius: 16px;
}

#pause .pause-image {
    background: url("icons/pause.svg");
    background-size: 128px;
    width: 128px;
    height: 128px;
    padding-left: 128px;
}

#pause .pause-tricube {
    font-family: var(--font-name);
    margin: 0 auto;
    text-align: center;
    transform: scale3d(1, 1, 1);
    text-transform: uppercase;
    font-weight: 900;
    color: #f4eded;
}


:root { 
    --bg-image: url("../../../systems/tricube/style/images/white.webp");
    --chat-bg-image: url("../../../systems/tricube/style/images/white.webp");
    --header-font-name: "atd6";
    --header-font-name2: "Bagnard";
    --main-font-color: #000000;
    --header-font-color: #000000;
    --list-header-font-color: #ffffff;
    --list-header-color: #000000;
    --input-bg-color: #555353;
    --input-bg-color2: #ffffff;
    --list-text-color: #000000;
    --input-text-color: #ffffff;
    --window-header-bg-color: #000000;
    --window-header-font-color: #ffffff;
    --tab-bg-color-active: #000000;
    --tab-bg-color-inactive: #555353;
    --tab-text-color-active: #ffffff;
    --tab-text-color-inactive: #d8d1d1;

}

.atd6 .window-content{
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: 100% 100%;
}

.sheet nav.sheet-tabs {
    background: var(--tab-bg-color-inactive);
    font-family: var(--header-font-name);
    margin: 4px 0;
    border-top: none;
    border-bottom: none;
    
}

.sheet .tabs .item.active {
    background: var(--tab-bg-color-active);
    color: var(--tab-text-color-active);
    text-shadow: none;
}

.sheet .tabs .item:not(.active) {
    background: var(--tab-bg-color-inactive);
    color: var(--tab-text-color-inactive);
    text-shadow: none;
}

.generalinfo table{
    background: none;
    border: none;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.generalinfo tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.generalinfo tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.generalinfo td{
    vertical-align: top;
}
.generalinfo h1{
    border-bottom: none;
    text-align: center;
}

.generalinfo tr{
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.generalinfo input{
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border: none;
}

.generalinfo label{
    font-family: var(--header-font-name2);
}

.charinput h2{
    border-bottom: none;
    text-align: center;
}

.generalinfo2 table{
    background: none;
    border: none;
}

.generalinfo2 td{
    vertical-align: center;
    text-align: center;
    align-items: center;
}

.generalinfo2 h3{
    border-bottom: none;
    text-align: center;
}

.generalinfo3 table{
    background: none;
    border: none;
}

.generalinfo3 td{
    vertical-align: center;
    text-align: center;
    align-items: center;
}

.generalinfo3 h3{
    border-bottom: none;
    text-align: center;
}

.generalinfo3 td:nth-child(1){
    width: 70px;
}

.heritage table{
    background: none;
    border: none;
}


.heritage tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.heritage tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.heritage h3{
    border-bottom: none;
}

.heritage input{
    text-align: center;
}

.resources table{
    background: none;
    border: none;
}

.resources tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.resources tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.resources td{
    text-align: left;
    vertical-align: center;
}

.resources h3{
    border-bottom: none;
}

.resources label{
    color: var(--main-font-color);
}

.resources input{
    text-align: center;
}

.competences table{
    background: none;
    background-color: var(--input-bg-color);
    border: none;
}

.competences tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.competences tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.competences td{
    text-align: left;
    vertical-align: 0%;
    padding-bottom: 0px;
    padding-top: 7px;
}

.competences h3{
    border-bottom: none;
}

.competences label{
    color: var(--input-text-color);
}

.competences a{
    color: var(--input-text-color);
}

.competences input{
    background-color: var(--input-bg-color2);
    color: var(--main-font-color);
    border: none;
}

.item-name input{
    text-align: center;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.item-name h2{
    color: var(--header-font-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
}

.item-name{
    display: inline-block;
}

.item-name table{
    background: none;
    width: 115%;
    border: none;
}

.item-name td{
    vertical-align: top;
}

.item-name img{
    border-radius: 16px;
    width: 75px;
    height: 75px;
    background-color: #555353;
}

.item-stats table{
    background: none;
    border: none;
    width: 100%;
}

.item-stats td{
    text-align: center;
}

.item-stats h3{
    border-bottom: none;
    font-family: var(--header-font-name2);
}

.item-stats input{
    text-align: center;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.item-stats select{
    text-align: center;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.equipment-title table{
    background-color: var(--input-bg-color);
    text-align: center;
    border: none;
    width: 100%;
    color: var(--input-text-color);
}

.equipment-title td{
    padding-bottom: 0px;
    padding-top: 7px;
}


.equipment-title h3{
    border-bottom: none;
    font-family: var(--header-font-name);
}

.content table{
    background: none;
    border: none;
    width: 100%;
}

.content img {
    border-radius: 16px;
    width: 40px;
    background-color: var(--input-bg-color);
}


.editor {
    height: 100%;
}

.editor-content
{
    list-style: circle;
    text-align: left;
    padding: 5px;
	background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.pjdescription {
    height: 532px;
}

.pnjdescription {
    height: 420px;
}

.weapondescription {
    height: 200px;
}

.heritagedescription {
    height: 200px;
}

.armordescription {
    height: 200px;
}

.traitdescription {
    height: 200px;
}

.spelldescription {
    height: 200px;
}

.active-effects img {
    border-radius: 16px;
    width: 40px;
    height: 40px;
    background-color: #555353;
}

.active-effects table{
    background: none;
    border: none;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.active-effects tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.active-effects tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.active-effects td:nth-child(1){
    width: 50px;
}

.active-effects td:nth-child(3){
    width: 30px;
    text-align: right;
}

.regular-success {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
}

.critical-success {
    background-color: rgba(0, 0, 128, 0.5);
    color: white;
}

.regular-failure {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.critical-failure {
    background-color: rgba(128, 0, 0, 0.5);
    color: white;
}

.test-result{
    text-align: center;
}
.test-result h3{
    font-family: var(--font-name);
    border-bottom: none;
}

.damage-result {
    background-color:  rgba(128, 0, 0, 0.5);
    color: white;
    font-family: var(--font-name);
    border-bottom: none;
    text-align: center;
}


.dice-breakdown{
    text-align: center;
}